name: Build Windows

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Windows ${{ matrix.arch }}
    runs-on: windows-latest
    
    strategy:
      matrix:
        arch: [Win32, x64]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Install CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "3.23.2"
      
      - name: Install Conan
        run: pip install "conan==1.57.0"
      
      - name: Configure
        run: |
          mkdir build
          cd build
          cmake .. -A ${{ matrix.arch }} -T ClangCL
      
      - name: Build
        run: |
          cd build
          cmake --build . --config Release --parallel
      
      - name: Package
        shell: bash
        run: |
          version=$(git describe --always --tags)
          cd build/Output/Release
          powershell Compress-Archive -Path Server -DestinationPath "open.mp-win-${{ matrix.arch }}-${version}.zip"
      
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: open.mp-win-${{ matrix.arch }}
          path: build/Output/Release/*.zip
